.shiba {
    width: 150px;
}

.catto {
    width: 150px;
}

.doggo {
    width: 150px;
}

.shiba-image {
    max-width: fit-content(20em);
}

.cat-image {
    max-width: fit-content(20em)
}

.dog-image {
    max-width: fit-content(20em)
}
