<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>
            {% block title %}
            {% endblock %}
        </title>

        {% block styles %}
            <link
                href="{{ url_for('static', filename='css/styles.css') }}"
                rel="stylesheet"
            />
        {{ bootstrap.load_css() }}

        {% endblock %}

    </head>
    <body>
    {% block navigation %}
    <nav class="navbar">
            <a class="navbar-brand" href="{{ url_for('index') }}">
      <img src="{{url_for('static', filename='images/paw.jpg') }}" width="38" height="29">
    </a>
</nav>
    {% endblock %}
        {% block content %}{% endblock %}

        {% block scripts %}
            {{ bootstrap.load_js() }}
        {% endblock %}
    </body>
</html>